@charset "utf-8";

body {
	overflow: hidden;
	background-position: center top;
	background-image: url("../themes/bg/beijing8.jpg");
}

.template { display: block; }
.dn { display:none; }
.left { float: left;}
.right {float: right;}
.bold {font-weight: bold; }

.contentWrap {
	width: 954px;
	margin: 0 auto;
}

.top, .header {
	width: 100%;
	min-width: 980px;
	clear: both;
}

.top {
	height: 26px;
	line-height: 24px;
	background: url("../img/header_back.png") 0 -4px;
	border-bottom: 1px solid #E5E5E5;
	font-size: 13px;
}
.top .contentWrap {
	width: 100%;
	max-width: 1100px;
}
.top .right > a {
	height: 26px;
	padding: 8px 10px;
}

.header {
	margin-top: 26px;
}
.header .logocont {
	
}
.header .optionmenu {
	text-align: right;
}
.header .optionmenu a {
	display: inline-block;
	padding: 5px 20px;
	margin-left: 10px;
	color: #383838;
	font-size: 15px;
	cursor: pointer;
}
.header .optionmenu a:HOVER {
	background: #68aede;
	color: #FFFFFF;
}

#desktopcontainer {
	position: relative;
	overflow: auto;
	width: 100%;
	min-width: 980px;
	margin-top: 30px;
}

.navcontainer {
	margin-top: 10px;
	text-align: center;
	min-width: 980px;
}

.navwrap {
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	width: 980px;
	*width: 960px;
}

.navitem {
	width: 214px;
	height: 124px;
	margin: 8px;
	display: inline-block;
	*float: left;
}
.navlink, a.navlink{
	margin: 2px;
	display: block;
	width: 210px;
	height: 120px;
	color: #FFFFFF;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	/*border: 2px solid #FFF;*/
	/*opacity: .9;
	filter: Alpha(Opacity=90);*/
	/*border-radius: 4px;*/
}
.navlink:HOVER, a.navlink:HOVER
{
	color: #FFFFFF;
	/*border: 2px solid #E3E3E3;*/
}

.navlink:HOVER:AFTER, a.navlink:HOVER:AFTER
{
	content: url("../img/hover_trans.png");
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.navlink .navlink_back {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 40px;
	background: #000;
	opacity: .05;
	filter: Alpha(Opacity=5);
}
.navlink .navlink_img {
	position: absolute;
	top: 12px;
	left: 8px;
	width: 24px;
	height: 24px;
}
.navlink .navlink_label {
	position: relative;
	top: 32px;
	left: 10px;
	font-size: 28px;
}
.navlink .quick_key {
	position: absolute;
	bottom: 12px;
	left: 0px;
	font-size: 12px;
	text-align: center;
	display: block;
	width: 40px;
}
.navlink .building {
	position: absolute;
	bottom: 5px;
	left: 72px;
}

.navlinkul {
	position: relative;
}

.navbar-text{
	margin-left:38px;
}
.navlinkul li{
	width: 210px;
	height: 120px;
	position: relative;
	overflow: hidden;
}
.ordertime {
	position: absolute;
	top: 72px;
	left: 50px;
	text-align: left;
	line-height: 22px;
	font-size: 13px;
}

#navbarcontainer {
	position: fixed;
	height: 100%;
	width: 120px;
	right: -82px;
	bottom: 0px;
}
#navbarcontainer .navbaractive {
	float: left;
	width: 60px;
	height: 100%;
	display: none;
}
#navbarcontainer .navbarwrap {
	float: left;
	width: 120px;
	height: 100%;
	position: relative;
}

#navbarcontainer .navbarwrap .navbarback {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	filter: Alpha(Opacity=50);
}

#navbarcontainer .navbarwrap .navbartop {
	position: absolute;
	color: #FFF;
	top: 20px;
	width: 100%;
	text-align: center;
	display: none;
}

.navbar {
	margin-top: 144px;
	position: relative;
	z-index: 1;
}
.navbar a.navbaritem {
	display: block;
	width: 100%;
	height: 42px;
	line-height: 40px;
	cursor: pointer;
	color: #FFF;
	position: relative;
}
.navbar a.navbaritem label{
	margin-left: 42px;
	cursor: pointer;
}
.navbar a.navbaritem:HOVER, .navbar a.active {
	background: #0F76BC;
}
.navbar a.navbaritem > img {
	float: left;
	margin: 10px 10px 0 10px;
	width: 20px;
	height: 20px;
}
#navbarcontainer .navbaricon {
	position: relative;
	z-index: 1;
	width: 100%;
	text-align: center;
	margin-top: 80px;
}

#skins {
	position: relative;
}
.back_skin {
	display: none;
	position: absolute;
	top: -70px;
	right: 120px;
	width: 312px;
	height: 194px; 
}
.back_skin .back_skin_back {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	filter: Alpha(Opacity=50);
}
.back_skin ul {
	
}
.back_skin li {
	float: left;
	margin: 8px 0 0 8px;
}
.back_skin li a {
	display: block;
	width: 89px;
	height: 50px;
	position: relative;
	margin: 2px;
}
.back_skin li a label {
	position: absolute;
	margin: 0 auto;
	bottom: 4px;
}
.back_skin li a:HOVER {
	margin: 0px;
	border: 2px solid #0F76BC;
}

.c1 { background: #E8A135; }
.c2 { background: #944866; }
.c3 { background: #67DDAB; }
.c4 { background: #BAB387; }
.c5 { background: #BEA881; }
.c6 { background: #117AB3; }
.c7 { background: #8C4F79; }
.c8 { background: #81A0D7; }
.c9 { background: #B3CE1D; }
.c10 { background: #5B53A9; }
.c11 { background: #6AA71B; }
.c12 { background: #FAA701; }

.view_footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	background: #F0F0F0;
	border-top: 1px solid #CCC;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.view_footer .right {
	float: right;
	margin-top: 15px;
}
.view_adSearch{
	display:none;
	margin-top:10px;
	line-height:20px;
}

.dialog_layer .ui-dialog-titlebar{
	display: none;
}
.dialog_layer .ui-dialog-content {
	padding: 0;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.ui-dialog-titlebar.ui-corner-all {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ui-dialog-buttonpane {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.dialog_middle .ui-widget-header {
	font-weight: normal;
}
.dialog_middle .ui-dialog-content {
	padding: 0px;
}
.dialog_middle .ui-dialog-titlebar {
	padding: 0px 10px;
	height: 36px;
	line-height: 32px;
	position: relative;
}
.dialog_middle .ui-dialog-titlebar .ui-dialog-titlebar-close {
	background: none;
	display: block;
	margin: 0px;
	padding: 0px;
	width: 36px;
	height: 36px;
	position: absolute;
	top: 0px;
	/*right: 10px;*/
	cursor: pointer;
	border-radius: 0px;
}
.dialog_middle .ui-dialog-titlebar .ui-dialog-titlebar-close:HOVER {
	background: url("../img/back_over.png") 0 0;
}

.dialog_middle .ui-dialog-titlebar .ui-icon-closethick {
	background: url("../img/close.png") no-repeat center center;
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	left: 10px;
	top: 10px;
	margin: 0;
}

.window {
	/*position: relative;*/
	overflow: hidden;
}
.ui-dialog .window.ui-dialog-content {
	overflow: hidden;
	position: static;
}

.window .window_header {
	background: #75787b;
	width: 100%;
	height: 70px;
}
.window .window_header_ul {
	margin-left: 20px;
}
.window .window_header_ul li {
	float: left;
	margin-right: 12px;
}
.window .window_header_ul li a {
	display: block;
	width: 86px;
	height: 70px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
	position: relative;
	line-height: 1.5em;
	overflow: hidden;
}
.window .window_header_ul li a:HOVER {
	/*background: #676a6d;*/
	background: url("../img/back_over.png");
	color: #FFFFFF;
}
.window .window_header_ul li a.selected, 
.window .window_header_ul li a.selected:HOVER {
	/*background: #575a5d;*/
	background: url("../img/back_selected.png");
	cursor: default;
}

.window .window_header_ul li a img {
	width: 32px;
	height: 32px;
	margin: 0 auto;
	padding: 8px 0 4px;
	display: block;
}
.window .window_header_ul li a label {
	cursor: pointer;
	}
.window .window_header_tip {
	padding-top: 12px;
	line-height: 24px;
	color: #FFF;
	text-align: center;
	margin-right: 60px;
}
.window .window_header_ul .quick_key {
	/*position: absolute;
	top: 6px;
	right: 6px;*/
	font-size: 12px;
}

.window .window_message {
	position: absolute;
	font-weight: bold;
	font-size: 16px;
}

.window .window_close {
	display: block;
	padding: 8px;
	position: absolute;
	top: 15px;
	right: 16px;
	cursor: pointer;
}
.window .window_close:HOVER {
	/*background-color: #CCCCCC;*/
	background: url("../img/back_over.png");
}
.window .closebtn {
	background: url("../img/close.png") no-repeat center center;
	width: 20px;
	height: 20px;
	display: block;
}
.window .window_footer {
	height: 60px;
}
.window_search{
	z-index:999;
	position: absolute;
	background-color: #f4f7fb;
}
.window .window_adSearch{
	position:absolute;
	bottom:0px;
	display:none;
}
.window .window_adSearch a{
	display:block;
	/*width:50px;
	height:60px;*/
	margin-left:8px;
	padding:17px 8px;
	cursor:pointer;
}
.window .window_adSearch a img{
	margin:15px 0px 0px 8px;
	vertical-align:middle;
}
.window .window_adSearch a:HOVER {
	background: url("../img/back_over.png");
}
.window .window_pager {
	position: absolute;
	bottom: 0px;
	right: 16px;
	width: 120px;
	display: none;
}
.window .window_pager a {
	display: block;
	width: 45px;
	height: 60px;
	float: left;
	cursor: pointer;
}
.window .window_pager a.window_pager_next {
	margin-left: 30px;
}
.window .window_pager a:HOVER {
	background: url("../img/back_over.png");
}
.window .window_pager a span {
	display: block;
	width: 40px;
	height: 40px;
	margin: 10px 0 0 5px;
}
.window .window_pager_prev span{
	background: url("../img/icons.png") 0 -140px;
}
.window .window_pager_next span{
	background: url("../img/icons.png") -40px -140px;
}
.window .window_pager a.window_pager_prev:HOVER span {
	background-position: 0 -140px;
}
.window .window_pager a.window_pager_next:HOVER span {
	background-position: -40px -140px;
}
.window .window_pager a.disabled:HOVER {
	background: none;
	cursor: default;
}
.window .window_pager a.disabled.window_pager_prev span,
.window .window_pager a.disabled.window_pager_prev:HOVER span {
	background-position: 0 -100px;
}
.window .window_pager a.disabled.window_pager_next span,
.window .window_pager a.disabled.window_pager_next:HOVER span {
	background-position: -40px -100px;
}
.window .window_pager .window_pager_index {
	position: absolute;
	width: 30px;
	top: 9px;
	left: 45px;
	text-align: center;
	font-size: 13px;
	color: #666;
	line-height: 1.6em;
	cursor:pointer;
	border:1px solid #88bbff;
	border-radius:3px;
}

.window.haspager .view_footer{
	padding-right: 150px;
}
.window.haspager .window_pager{
	display: block;
}
.window.hasadsearch .window_adSearch{
	display:block;
}
.window.hasadsearch .view_footer{
	padding-left: 65px;
}
.window.single .window_header {
	height: 36px;
}
.window.single .window_header_ul {
	/*margin-left: 10px;*/
}
.window.single .window_header_ul li a,
.window.single .window_header_ul li a.selected, 
.window.single .window_header_ul li a.selected:HOVER {
	background: none;
	cursor: default;
	color: #FFFFFF;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	width: 100px;
	text-align: left;
}
.window.single .window_header_ul li a img {
	width: 24px;
	height: 24px;
	display: inline-block;
	padding: 6px 4px;
	margin: 0px;
	float: left;
}
.window.single .window_header_ul li a label {
	float: left;
}
.window.single .window_header_tip {
	height: 36px;
	line-height: 36px;
	margin-right: 46px;
	padding-top: 0px;
}
.window.single .window_header_ul .quick_key {
	position: static;
	margin-left: 10px;
}

.window.single .window_close {
	display: block;
	padding: 8px;
	top: 0px;
	right: 10px;
}

.window .window_loading {
	position: relative;
	display: block;
	margin: 0 auto;
	top: 80px;
}
.window .window_content_cont {
	/*padding: 16px;*/
	overflow: auto;
}
.window .window_content {
	height: 100%;
}

.highcharts-button {
	display: none;
}

.t_xin, .t_cu, .t_jian, .t_que {
	background: url("../img/icons.png");
	display: block;
	width: 24px;
	height: 24px;
}
.t_xin {
	background-position: 0 -48px;
}
.t_cu {
	background-position: 0 -24px;
}
.t_jian {
	background-position: 0 -72px;
}
.t_que {
	background-position: 0 0;
}


.weathericon {
	width: 60px;
	height: 60px;
	background: url('../img/weather.png');
	margin: 0 auto;
}
.weathericond00 {background-position: -50px -40px; }
.weathericonn00 {background-position: -160px -40px; }
.weathericond01 {background-position: -265px -40px; }
.weathericonn01 {background-position: -477px -40px; }
.weathericond02, .weathericon1d02 {background-position: -50px -140px; }
.weathericonn02, .weathericon1n02 {background-position: -50px -140px; }
.weathericond03, .weathericonn03 {background-position: -265px -140px; }
.weathericond04, .weathericonn04 {background-position: -477px -140px; }
.weathericond05, .weathericonn05 {background-position: -477px -140px; }
.weathericond06, .weathericonn06 {background-position: -160px -240px; }
.weathericond07 {background-position: -160px -140px; }
.weathericonn07 {background-position: -265px -140px; }
.weathericond08, .weathericonn08 {background-position: -265px -140px; }
.weathericond09, .weathericonn09 {background-position: -265px -140px; }
.weathericond10, .weathericonn10 {background-position: -375px -140px; }
.weathericond11, .weathericonn11 {background-position: -375px -140px; }
.weathericond12, .weathericonn12 {background-position: -375px -140px; }
.weathericond13, .weathericonn13 {background-position: -50px -240px; }
.weathericond14, .weathericonn14 {background-position: -50px -240px; }
.weathericond15, .weathericonn15 {background-position: -50px -240px; }
.weathericond16, .weathericonn16 {background-position: -50px -240px; }
.weathericond17, .weathericonn17 {background-position: -50px -240px; }
.weathericond18, .weathericonn18 {background-position: -160px -340px; }
.weathericond19, .weathericonn19 {background-position: -265px -140px; }
.weathericond20, .weathericonn20 {background-position: -477px -240px; }
.weathericond21, .weathericonn21 {background-position: -375px -140px; }
.weathericond22, .weathericonn22 {background-position: -375px -140px; }
.weathericond23, .weathericonn23 {background-position: -375px -140px; }
.weathericond24, .weathericonn24 {background-position: -375px -140px; }
.weathericond25, .weathericonn25 {background-position: -375px -140px; }
.weathericond26, .weathericonn26 {background-position: -50px -240px; }
.weathericond27, .weathericonn27 {background-position: -50px -240px; }
.weathericond28, .weathericonn28 {background-position: -50px -240px; }
.weathericond29, .weathericonn29 {background-position: -160px -340px; }
.weathericond30, .weathericonn30 {background-position: -477px -240px; }
.weathericond31, .weathericonn31 {background-position: -50px -340px; }



/*内容页左侧菜单--系统公告、增值服务*/
.leftIcon {background-image: url("../img/leftIcon.png"); display: block;}
.leftIcon_sjcz {background-position: -65px -195px; width: 32px; height: 32px;}
.leftIcon_dhjf {background-position: -65px -5px; width: 32px; height: 29px; }
.leftIcon_ydjf {background-position: -130px -50px; width: 32px; height: 32px; }
.leftIcon_yxjf {background-position: -130px -155px; width: 32px; height: 32px; }
.leftIcon_rqjf {background-position: -65px -150px; width: 32px; height: 32px; }
.leftIcon_xykhk {background-image: url("../img/xykhk.png"); display: block; width: 32px; height: 32px; }
.leftIcon_skxfcx {background-position: -135px -5px; width: 25px; height: 31px; }
.leftIcon_gjfcx {background-position: -65px -50px; width: 32px; height: 29px; }
.leftIcon_xtgg {background-position: -0px -150px; width: 32px; height: 32px; }
.leftIcon_xsmhd {background-position: -0px -100px; width: 28px; height: 30px;}
.leftIcon_hyxx {background-position: -0px -50px; width: 32px; height: 32px;}
.leftIcon_1532 {background-position: -0px -0px; width: 30px; height: 34px;}
.leftIcon_yxhd {background-position: -0px -195px; width: 32px; height: 32px;}
.leftIcon_yhgl {background-position: -130px -103px; width: 32px; height: 32px; }
.leftIcon_wxts {background-position: -120px -200px; width: 56px; height: 75px;}/*手机充值温馨提示图标*/

/*桌面小图标*/
.deskIcon {background-image: url("../img/deskIcon.png"); display: block;position:absolute; top: 12px; left: 8px;}
.deskIcon_spxs {background-position: -90px -0px; width: 24px; height: 24px;}
.deskIcon_jydh {background-position: -0px -0px; width: 24px; height: 24px; }
.deskIcon_spgl {background-position: -45px -40px; width: 24px; height: 24px;}
.deskIcon_kcgl {background-position: -45px -0px; width: 24px; height: 24px;}
.deskIcon_wgdd {background-position: -130px -0px; width: 24px; height: 24px;}
.deskIcon_xsgl {background-position: -170px -0px; width: 24px; height: 24px;}
.deskIcon_tjfx {background-position: -90px -40px; width: 24px; height: 24px;}
.deskIcon_hygl {background-position: -0px -40px; width: 24px; height: 24px;}
.deskIcon_yxhd {background-position: -210px -0px; width: 24px; height: 24px;}
.deskIcon_ycjt {background-position: -170px -40px; width: 24px; height: 24px;}
.deskIcon_zzfw {background-position: -210px -40px; width: 24px; height: 24px; }
.deskIcon_wydh {background-position: -130px -40px; width: 24px; height: 24px;}
.deskIcon_dpsz {background-position: -430px -5px; width: 24px; height: 24px;}
.deskIcon_ggxx {background-position: -290px -5px; width: 20px; height: 20px;top: 10px; left: 10px;}
.deskIcon_dpsz1 {background-position: -250px -5px; width: 20px; height: 20px;top: 10px; left: 10px;}
.deskIcon_bzzx {background-position: -255px -45px; width: 20px; height: 20px;top: 10px; left: 10px;}
.deskIcon_zxfk {background-position: -330px -40px; width: 20px; height: 20px;top: 10px; left: 10px;}
.deskIcon_pifu {background-position: -330px -5px; width: 20px; height: 20px;top: 10px; left: 10px;}
.deskIcon_exit {background-position: -290px -45px; width: 20px; height: 20px;top: 10px; left: 10px;}
.deskIcon_arrow {background-position: -375px -5px; width: 42px; height: 42px;top: 10px; left: 40px;}

/*页面小图标*/
.pageIcon {background-image: url("../img/pageIcon.png"); display: block;}
.pageIcon_more {background-position: -0px 3px; width: 22px; height: 10px;}
.pageIcon_del {background-position: -0px -30px; width: 15px; height: 18px;}
.pageIcon_smalldel{background-position: -35px -35px; width: 12px; height: 15px; }
.pageIcon_edit{background-position: -35px -5px; width: 17px; height: 15px; }
.pageIcon_prev{background-position: -0px -65px; width: 14px; height: 14px;}
.pageIcon_next{background-position: -35px -65px; width: 14px; height: 14px; }
.pageIcon_up{background-position: 8px -88px; width: 15px; height: 16px;}
.pageIcon_down{background-position: -22px -88px; width: 15px; height: 16px; }
.pageIcon_close{background-position: -30px -260px; width: 20px; height: 20px; }
.pageIcon_jfdh{background-position: -115px -40px; width: 19px; height: 14px;}
.pageIcon_jin{background-position: -155px -130px; width: 116px; height: 116px; }
.pageIcon_xiao{background-position: -295px -0px; width: 116px; height: 116px;}
.pageIcon_cun{background-position: -295px -130px; width: 116px; height: 116px; }
.pageIcon_li{background-position: -155px -5px; width: 116px; height: 116px;}
.pageIcon_ruku {background-position: -115px -5px; width: 18px; height: 18px; }
.pageIcon_fahuo {background-position: -115px -75px; width: 18px; height: 13px; }
.pageIcon_hysj {background-position: -115px -110px; width: 22px; height: 19px; }
.pageIcon_tips{background-position: -120px -145px; width: 18px; height: 18px; }
.pageIcon_upArrrow {background-position: -10px -135px; width: 34px; height: 27px; }
.pageIcon_downArrrow {background-position: -10px -180px; width: 34px; height: 27px; }
.pageIcon_leftArrrow {background-position: -70px -175px; width: 32px; height: 32px; }
.pageIcon_zhekou {background-position: -75px -145px; width: 20px; height: 20px; }
.pageIcon_vip {background-position: -75px -110px; width: 20px; height: 20px; }
.pageIcon_youhui {background-position: -75px -70px; width: 20px; height: 20px; }
.pageIcon_jifen {background-position: -75px -35px; width: 20px; height: 20px; }
.pageIcon_manjian {background-position: -75px -5px; width: 20px; height: 20px; }
.pageIcon_info {background-position: -425px -5px; width: 14px; height: 14px; float:right; margin-top:5px;}

/*导航菜单图标*/
.navbarIcon {background-image: url("../img/navbarIcon.png"); display: block;margin: 8px 27px 4px 27px;}
.navbarIcon_spxs {background-position: -730px -143px; width: 24px; height: 24px;margin: 6px 4px 0px 4px;display: inline-block;float: left; }
.navbarIcon_wgdd {background-position: -730px -98px; width: 24px; height: 24px;margin: 6px 4px 0px 4px;display: inline-block;float: left; }
.navbarIcon_zjyjb {background-position: -728px -3px; width: 32px; height: 32px; }
.navbarIcon_zmflfg {background-position: -725px -48px; width: 32px; height: 32px; }
.navbarIcon_yyzx {background-position: -50px -188px; width: 32px; height: 32px; }
.navbarIcon_spgl {background-position: -0px -188px; width: 32px; height: 32px; }
.navbarIcon_jfgz {background-position: -50px -138px; width: 32px; height: 32px; }
.navbarIcon_jrtj {background-position: -0px -148px; width: 32px; height: 32px; }
.navbarIcon_tfcl {background-position: -0px -93px; width: 32px; height: 32px; }
.navbarIcon_wjdc {background-position: -100px -138px; width: 32px; height: 32px; }
.navbarIcon_jxcmxb {background-position: -100px -93px; width: 32px; height: 32px; }
.navbarIcon_tjfx {background-position: -55px -98px; width: 32px; height: 32px; }
.navbarIcon_jjcx {background-position: -0px -48px; width: 32px; height: 32px; }
.navbarIcon_jxcb {background-position: -45px -53px; width: 32px; height: 32px; }
.navbarIcon_zxts {background-position: -45px -3px; width: 32px; height: 32px; }
.navbarIcon_jgfx {background-position: -0px -3px; width: 32px; height: 32px; }
.navbarIcon_jxctb {background-position: -100px -3px; width: 32px; height: 32px; }
.navbarIcon_zzfw {background-position: -100px -188px; width: 32px; height: 32px; }
.navbarIcon_bzzx {background-position: -100px -48px; width: 32px; height: 32px; }
.navbarIcon_wydh {background-position: -155px -188px; width: 32px; height: 32px; }
.navbarIcon_xfzcj {background-position: -155px -138px; width: 32px; height: 32px; }
.navbarIcon_jydh {background-position: -155px -93px; width: 32px; height: 32px; }
.navbarIcon_bmfw {background-position: -155px -48px; width: 32px; height: 32px; }
.navbarIcon_cgbb {background-position: -60px -235px; width: 32px; height: 32px;}
.navbarIcon_chart1 {background-position: -205px -2px; width: 32px; height: 32px; }
.navbarIcon_kcbb {background-position: -115px -235px; width: 32px; height: 32px;}
.navbarIcon_ddgl {background-position: -305px -53px; width: 32px; height: 32px; }
.navbarIcon_cxls {background-position: -10px -235px; width: 32px; height: 32px; }
.navbarIcon_kcgl {background-position: -355px -2px; width: 32px; height: 32px; }
.navbarIcon_jyrk {background-position: -205px -188px; width: 32px; height: 32px; }
.navbarIcon_xsbb {background-position: -205px -138px; width: 32px; height: 32px; }
.navbarIcon_xsgl {background-position: -205px -93px; width: 32px; height: 32px; }
.navbarIcon_jysp {background-position: -205px -48px; width: 32px; height: 32px; }
.navbarIcon_xsmxbb {background-position: -255px -43px; width: 32px; height: 32px; }
.navbarIcon_spxs1 {background-position: -625px -183px; width: 32px; height: 32px; }
.navbarIcon_gwc {background-position: -620px -3px; width: 32px; height: 32px; }
.navbarIcon_hlkc {background-position: -625px -43px; width: 32px; height: 32px; }
.navbarIcon_spdh {background-position: -625px -88px; width: 32px; height: 32px; }
.navbarIcon_jcsj {background-position: -625px -138px; width: 32px; height: 32px; }
.navbarIcon_cxhd {background-position: -255px -188px; width: 32px; height: 32px; }
.navbarIcon_jyzd {background-position: -255px -138px; width: 32px; height: 32px; }
.navbarIcon_hyjb {background-position: -680px -43px; width: 32px; height: 32px; }
.navbarIcon_qdrk {background-position: -570px -43px; width: 32px; height: 32px; }
.navbarIcon_pdjl {background-position: -515px -43px; width: 32px; height: 32px; }
.navbarIcon_exit {background-position: -515px --2px; width: 32px; height: 32px; }
.navbarIcon_yhgl {background-position: -515px -183px; width: 32px; height: 32px; }
.navbarIcon_xsls {background-position: -255px -93px; width: 32px; height: 32px; }
.navbarIcon_xtsz {background-position: -355px -53px; width: 32px; height: 32px; }
.navbarIcon_dzfw {background-position: -460px -43px; width: 32px; height: 32px; }
.navbarIcon_kcbb1 {background-position: -305px -93px; width: 32px; height: 32px; }
.navbarIcon_xsth {background-position: -305px -138px; width: 32px; height: 32px; }
.navbarIcon_dhls {background-position: -305px -188px; width: 32px; height: 32px; }
.navbarIcon_kcpd {background-position: -355px -93px; width: 32px; height: 32px; }
.navbarIcon_xwfx {background-position: -355px -138px; width: 32px; height: 32px; }
.navbarIcon_dmgl {background-position: -355px -188px; width: 32px; height: 32px; }
.navbarIcon_dpsz {background-position: -405px -3px; width: 32px; height: 32px; }
.navbarIcon_lrbb {background-position: -405px -48px; width: 32px; height: 32px; }
.navbarIcon_ycjt {background-position: -410px -93px; width: 32px; height: 32px; }
.navbarIcon_ycwh {background-position: -410px -138px; width: 32px; height: 32px; }
.navbarIcon_lrtb {background-position: -410px -188px; width: 32px; height: 32px; }
.navbarIcon_rkcx {background-position: -570px -88px; width: 32px; height: 32px; }
.navbarIcon_pifu {background-position: -515px -88px; width: 32px; height: 32px; }
.navbarIcon_lsdd {background-position: -460px -88px; width: 32px; height: 32px; }
.navbarIcon_dysz {background-position: -460px -3px; width: 32px; height: 32px; }
.navbarIcon_yhfk {background-position: -460px -183px; width: 32px; height: 32px; }
.navbarIcon_fyrk {background-position: -460px -138px; width: 32px; height: 32px; }
.navbarIcon_ggxx {background-position: -570px -3px; width: 32px; height: 32px; }
.navbarIcon_hygl {background-position: -675px -3px; width: 32px; height: 32px; }
.navbarIcon_yxjq {background-position: -675px -93px; width: 32px; height: 32px; }
.navbarIcon_rkcx1 {background-position: -515px -138px; width: 32px; height: 32px; }
.navbarIcon_sjczql {background-position: -570px -138px; width: 32px; height: 32px; }
.navbarIcon_yhkgl {background-position: -570px -183px; width: 32px; height: 32px; }
.navbarIcon_yskc {background-position: -680px -183px; width: 32px; height: 32px; }
.navbarIcon_yxhd {background-position: -680px -138px; width: 32px; height: 32px; }

/*背景缩略图*/
.bgIcon {background-image: url("../themes/bg-min/bgIcon.png"); display: block;}
.bgIcon_beijing9 {background-position: -455px -0px; width: 89px; height: 50px; }
.bgIcon_beijing8 {background-position: -340px -75px; width: 89px; height: 50px; }
.bgIcon_beijing2 {background-position: -0px -75px; width: 89px; height: 50px; }
.bgIcon_beijing4 {background-position: -115px -75px; width: 89px; height: 50px; }
.bgIcon_beijing3 {background-position: -225px -75px; width: 89px; height: 50px; }
.bgIcon_beijing7 {background-position: -340px -0px; width: 89px; height: 50px; }
.bgIcon_beijing6 {background-position: -225px -0px; width: 89px; height: 50px; }
.bgIcon_beijing5 {background-position: -115px -0px; width: 89px; height: 50px; }
.bgIcon_beijing1 {background-position: -0px -0px; width: 89px; height: 50px; }